
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Game</h2>
            <h3 class="section-subheading text-muted">Hello, {{tc.username}}!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <center>
            <button ng-click="tc.newTable()" ng-if="!tc.alreadyHasTable()" class="btn btn-xl">New Table</button>
            <table>
                <thead>
                <tr>
                    <th>Owner</th>
                    <th>Players</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="table in tc.tables">
                    <td>{{table.owner}}</td>
                    <td>{{table.players}}</td>
                    <td>
                        <button ng-click="tc.play($index)" ng-if="tc.alreadyJoined($index)" class="btn btn-xl">Play</button>
                        <button ng-click="tc.join($index)" ng-if="!tc.alreadyJoined($index) && table.players.length < 3" class="btn btn-xl">Join</button>
                    </td>
                </tr>
                </tbody>
            </table>
            </center>
        </div>
    </div>
</div>

<div class="center"/>